*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(76, 76, 230);
}

nav{
    background: white;
    border-radius: 12px;
    padding: 0 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.nav-content{
    display: flex;
    height: 120px;
    align-items: center;
    list-style: none;
    position: relative;
}

.link-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 95px;
    text-decoration: none;    
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active{
    transform: translateY(-10px);
}

.link-icon{
    font-size: 35px;
    color: rgb(109, 104, 104);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-icon{
    color: rgb(76, 76, 230);
}

.link-text{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color:rgb(76, 76, 230);
    opacity: 0;
    transform: translateY(32px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.link-item.active .link-text{
    opacity: 1;
}

.indicator{
    position: absolute;
    height: 36px;
    width: 36px;
    background-color:white;
    border: 6px solid rgb(76, 76, 230);
    border-radius: 50%;
    top: -14px;
    left: 48px;
    transform: translateX(-50%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.indicator::before,
.indicator::after{
    position: absolute;
    content: "";
    bottom: -8px;
    height: 24px;
    width: 19px;
}

.indicator::before{
    left:-22px;
    background-color: white;
    border-top-right-radius: 25px;
    box-shadow: 1px -13px rgb(76, 76, 230);
}

.indicator::after{
    right:-22px;
    background-color: white;
    border-top-left-radius: 25px;
    box-shadow: -1px -13px rgb(76, 76, 230);
}