*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#rect{
    width: 200px;
    height: 300px;
    background-color: rgb(252, 1, 1);
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
}