*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

main{
    width: 70%;
    height: 100vh;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 3px gray;
    position:relative;
    overflow:hidden ;
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}
 .nav{
    text-align: center;
    margin-top: 15px;
}

.nav button{
    font-size: 25px;
    padding:20px;
}